* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: black;
  color: floralwhite;
  font-size: 1.6rem;
}

.container {
  margin: 5rem;
  width: 80%;
  padding: 40px;
}

.game {
  padding: 20px;
}

.help {
  text-align: center;
  margin: 2rem auto;
  color: #555;
  font-size: 1.8rem;
}

.body {
  border: 1px solid whitesmoke;
  padding: 2rem 4rem;
  width: 100%;
  display: flex;
}

.left {
  width: 50%;
  border: 1px solid whitesmoke;
  display: flex;
  flex-wrap: wrap;
}

.right {
  width: 50%;
  border: 1px solid whitesmoke;
  display: flex;
  flex-wrap: wrap;
}
.star {
  font-size: 3.6rem;
  margin: 10%;
}

button.number {
  font-size: 3.6rem;
  height: 5rem;
  width: 27.33%;
  margin: 4rem 3%;
}

.timer {
  margin-top: 10px;
  color: #555;
}
